# Auth.js (NextAuth v5) + Keycloak (OIDC)
AUTH_SECRET=troque-por-uma-string-aleatoria-de-32+chars
AUTH_KEYCLOAK_ISSUER=http://localhost:8080/realms/nxt
AUTH_KEYCLOAK_ID=nxt-web
AUTH_KEYCLOAK_SECRET=nxt-web-dev-secret

# Base da API NestJS
NEXT_PUBLIC_API_URL=http://localhost:3001
